/* screen - frame-56 */

.frame-56 {
  background-color: transparent;
  border: 1px none;
  height: 827px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow-x: hidden;
  position: relative;
  width: 1679px;
}

#overlay-frame-56 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.frame-56 .frame-56-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 827px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 1679px;
}

.frame-56 .white-part-of-imac-0unqEg {
  --z-index: 0;
  background-color: #eaf0ff;
  height: 582px;
  left: 195px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 187px;
  width: 1290px;
}

.frame-56 .rectangle-68-0unqEg {
  --z-index: 1;
  background-color: #d2d6c0;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  left: 195px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 112px;
  width: 1290px;
}

.frame-56 .rectangle-76-0unqEg {
  --z-index: 2;
  background-color: #8c9a82;
  border-radius: 5px;
  height: 28px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 124px;
  width: 145px;
}

.frame-56 .rectangle-70-0unqEg {
  --z-index: 3;
  background-color: #8c9a82;
  height: 45px;
  left: 195px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 1290px;
}

.frame-56 .rectangle-69-0unqEg {
  --z-index: 4;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #495f09;
  border-radius: 15px;
  height: 25px;
  left: 285px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 951px;
}

.frame-56 .group-49-0unqEg {
  --z-index: 5;
  background-color: transparent;
  height: 16px;
  left: 219px;
  opacity: 1;
  position: absolute;
  top: 120px;
  width: 16px;
}

.frame-56 .ellipse-9-EXXHng {
  --z-index: 0;
  background-color: #ff3939;
  border-radius: 8px;
  cursor: pointer;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 16px;
}

.frame-56 .group-48-EXXHng {
  --z-index: 1;
  background-color: transparent;
  height: 8px;
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  width: 7px;
}

.frame-56 .line-5-6HaVAE {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-5@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 8px;
}

.frame-56 .line-6-6HaVAE {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-6@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 8px;
}

.frame-56 .httpswwwhome-aidremediescom-0unqEg {
  --z-index: 6;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 302px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 156px;
  width: 235px;
}

.frame-56 .frame-58-0unqEg::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frame-56 .frame-58-0unqEg {
  --z-index: 7;
  background-color: transparent;
  height: 582px;
  left: 195px;
  opacity: 1;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 187px;
  width: 1290px;
}

.frame-56 .rectangle-78-wIfzMN {
  --z-index: 0;
  background-color: #ffffff;
  height: 3788px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 54px;
  width: 1290px;
}

.frame-56 .rectangle-136-wIfzMN {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-136.png);
  background-size: 100% 100%;
  height: 795px;
  left: 692px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1244px;
  width: 598px;
}

.frame-56 .rectangle-141-wIfzMN {
  --z-index: 2;
  background-color: #c7ccb9;
  height: 360px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3110px;
  width: 1290px;
}

.frame-56 .rectangle-137-wIfzMN {
  --z-index: 3;
  background-color: #d4caaf;
  height: 90px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1164px;
  width: 1290px;
}

.frame-56 .group-104-wIfzMN {
  --z-index: 4;
  background-color: transparent;
  height: 32px;
  left: 880px;
  opacity: 1;
  position: absolute;
  top: 1192px;
  width: 281px;
}

.frame-56 .moisterizing-rY2pYy {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 237px;
}

.frame-56 .text-2-rY2pYy {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 40px;
}

.frame-56 .rectangle-138-wIfzMN {
  --z-index: 5;
  background-color: #cbd1b4;
  border: 1px solid;
  border-color: #486722;
  border-radius: 10px;
  box-shadow: 2px 4px 0px #6d7939;
  height: 65px;
  left: 860px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1596px;
  width: 284px;
}

.frame-56 .rectangle-139-wIfzMN {
  --z-index: 6;
  background-color: #ffffff;
  height: 372px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3470px;
  width: 1290px;
}

.frame-56 .rectangle-142-wIfzMN {
  --z-index: 7;
  background-color: #ffffff;
  border: 0.30000001192092896px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 74px;
  left: 137px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3328px;
  width: 762px;
}

.frame-56 .rectangle-140-wIfzMN {
  --z-index: 8;
  background-color: #96aa7c;
  border-radius: 10px;
  height: 74px;
  left: 937px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3328px;
  width: 183px;
}

.frame-56 .shop-samples-wIfzMN {
  --z-index: 9;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 873px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 1612px;
  width: 258px;
}

.frame-56 .sample-wIfzMN {
  --z-index: 10;
  background-color: transparent;
  color: #8a8e60;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 224px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 1279px;
  width: 258px;
}

.frame-56 .group-101-wIfzMN {
  --z-index: 11;
  background-color: transparent;
  height: 32px;
  left: 132px;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 198px;
}

.frame-56 .organic-hzY4w7 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 154px;
}

.frame-56 .text-3-hzY4w7 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 40px;
}

.frame-56 .pick-your-own-5-bar-samples-wIfzMN {
  --z-index: 12;
  background-color: transparent;
  color: #7a7a7a;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 235px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 1331px;
  width: 235px;
}

.frame-56 .rectangle-81-wIfzMN {
  --z-index: 13;
  background-color: #dadfcb;
  height: 475px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 645px;
}

.frame-56 .rectangle-83-wIfzMN {
  --z-index: 14;
  background-color: #ffffff;
  height: 70px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1290px;
}

.frame-56 .shop-all-wIfzMN {
  --z-index: 15;
  background-color: transparent;
  color: #4f4f4f;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 553px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 564px;
  width: 183px;
}

.frame-56 .rectangle-133-wIfzMN {
  --z-index: 16;
  background-color: transparent;
  background-image: url(../img/rectangle-133.png);
  background-size: 100% 100%;
  height: 541px;
  left: 103px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1375px;
  width: 477px;
}

.frame-56 .rectangle-85-wIfzMN {
  --z-index: 17;
  background-color: transparent;
  background-image: url(../img/rectangle-85-5.png);
  background-size: 100% 100%;
  height: 475px;
  left: 645px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  width: 645px;
}

.frame-56 .home-aid-remedies-wIfzMN {
  --z-index: 18;
  background-color: transparent;
  color: #b8c0af;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 515px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 259px;
}

.frame-56 .get-your-skin-feeling-soft-and-glowy-wIfzMN {
  --z-index: 19;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-shadow: 3px 2px 1px #00000099;
  top: 170px;
  width: 610px;
}

.frame-56 .handcrafted-organic-soaps-wIfzMN {
  --z-index: 20;
  background-color: transparent;
  color: #7f8299;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 187px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 312px;
  width: 271px;
}

.frame-56 .subscribe-wIfzMN {
  --z-index: 21;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 941px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3350px;
  width: 179px;
}

.frame-56 .about-wIfzMN {
  --z-index: 22;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3520px;
  width: 152px;
}

.frame-56 .contact-us-wIfzMN {
  --z-index: 23;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 550px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3592px;
  width: 123px;
}

.frame-56 .homeaidremedies-wIfzMN {
  --z-index: 24;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1029px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3628px;
  width: 163px;
}

.frame-56 .returns-wIfzMN {
  --z-index: 25;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 546px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3632px;
  width: 93px;
}

.frame-56 .shipping-wIfzMN {
  --z-index: 26;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 550px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3671px;
  width: 99px;
}

.frame-56 .faq-wIfzMN {
  --z-index: 27;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 548px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3706px;
  width: 55px;
}

.frame-56 .our-story-wIfzMN {
  --z-index: 28;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3593px;
  width: 123px;
}

.frame-56 .gift-card-wIfzMN {
  --z-index: 29;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3631px;
  width: 111px;
}

.frame-56 .help-wIfzMN {
  --z-index: 30;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 538px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3520px;
  width: 127px;
}

.frame-56 .sign-up-to-be-the-fi-wIfzMN {
  --z-index: 31;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 337px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 3181px;
  width: 608px;
}

.frame-56 .rectangle-129-wIfzMN {
  --z-index: 32;
  background-color: #8590a2;
  border-radius: 2px;
  box-shadow: 3px 4px 1px #00000040;
  height: 41px;
  left: 235px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 371px;
  width: 175px;
}

.frame-56 .shop-now-wIfzMN {
  --z-index: 33;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 260px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 381px;
  width: 125px;
}

.frame-56 .group-92-wIfzMN {
  --z-index: 34;
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 123px;
  opacity: 1;
  position: absolute;
  top: 29px;
  width: 60px;
}

.frame-56 .shop-hyCd6R {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 58px;
}

.frame-56 .group-91-hyCd6R {
  --z-index: 1;
  background-color: transparent;
  height: 4px;
  left: 52px;
  opacity: 1;
  position: absolute;
  top: 9px;
  transform: rotate(-5.26deg);
  width: 6px;
}

.frame-56 .line-12-HXnxLm {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-12.svg);
  background-size: 100% 100%;
  height: 3px;
  left: -0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(5.26deg);
  width: 3px;
}

.frame-56 .line-13-HXnxLm {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-13.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 3px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -0px;
  transform: rotate(5.26deg);
  width: 3px;
}

.frame-56 .icon-cart-wIfzMN {
  --z-index: 35;
  background-color: transparent;
  background-image: url(../img/image-5@2x.png);
  background-size: 100% 100%;
  height: 33px;
  left: 1182px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 56px;
}

.frame-56 .frame-59-wIfzMN::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frame-56 .frame-59-wIfzMN {
  --z-index: 36;
  background-color: transparent;
  height: 480px;
  left: 77px;
  opacity: 1;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 631px;
  width: 1135px;
}

.frame-56 .group-99-LvKQbK {
  --z-index: 0;
  background-color: transparent;
  height: 480px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 1959px;
}

.frame-56 .rectangle-84-nT277l {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-84-5@2x.png);
  background-size: 100% 100%;
  height: 348px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 316px;
}

.frame-56 .rectangle-132-nT277l {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-132@2x.png);
  background-size: 100% 100%;
  height: 348px;
  left: 831px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 304px;
}

.frame-56 .rectangle-135-nT277l {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/rectangle-135@2x.png);
  background-size: 100% 100%;
  height: 354px;
  left: 415px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 310px;
}

.frame-56 .group-96-nT277l {
  --z-index: 3;
  background-color: transparent;
  height: 59px;
  left: 90px;
  opacity: 1;
  position: absolute;
  top: 367px;
  width: 137px;
}

.frame-56 .hemp-soap-bar-EElrEb {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.frame-56 .x600-usd-EElrEb {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 133px;
}

.frame-56 .group-97-nT277l {
  --z-index: 4;
  background-color: transparent;
  height: 59px;
  left: 503px;
  opacity: 1;
  position: absolute;
  top: 367px;
  width: 137px;
}

.frame-56 .sample-bar-pack-yjVH2k {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.frame-56 .x1000-usd-yjVH2k {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 133px;
}

.frame-56 .group-98-nT277l {
  --z-index: 5;
  background-color: transparent;
  height: 60px;
  left: 893px;
  opacity: 1;
  position: absolute;
  top: 366px;
  width: 183px;
}

.frame-56 .surname-cD20MQ {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 179px;
}

.frame-56 .x600-usd-cD20MQ {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 133px;
}

.frame-56 .group-93-nT277l {
  --z-index: 6;
  background-color: transparent;
  height: 38px;
  left: 65px;
  opacity: 1;
  position: absolute;
  top: 439px;
  width: 186px;
}

.frame-56 .rectangle-132-cgHO8P {
  --z-index: 0;
  background-color: #9da489;
  border-radius: 5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .add-to-cart-cgHO8P {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 133px;
}

.frame-56 .group-94-nT277l {
  --z-index: 7;
  background-color: transparent;
  height: 38px;
  left: 478px;
  opacity: 1;
  position: absolute;
  top: 439px;
  width: 186px;
}

.frame-56 .rectangle-132-XVcRgB {
  --z-index: 0;
  background-color: #9da489;
  border-radius: 5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .add-to-cart-XVcRgB {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 133px;
}

.frame-56 .group-95-nT277l {
  --z-index: 8;
  background-color: transparent;
  height: 38px;
  left: 891px;
  opacity: 1;
  position: absolute;
  top: 439px;
  width: 186px;
}

.frame-56 .rectangle-132-FGNUP9 {
  --z-index: 0;
  background-color: #9da489;
  border-radius: 5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .add-to-cart-FGNUP9 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 133px;
}

.frame-56 .group-99-nT277l {
  --z-index: 9;
  background-color: transparent;
  height: 477px;
  left: 1234px;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 725px;
}

.frame-56 .rectangle-84-Tmwpxv {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-84-6@2x.png);
  background-size: 100% 100%;
  height: 348px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 316px;
}

.frame-56 .rectangle-135-Tmwpxv {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/rectangle-135-1@2x.png);
  background-size: 100% 100%;
  height: 354px;
  left: 415px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 310px;
}

.frame-56 .group-96-Tmwpxv {
  --z-index: 2;
  background-color: transparent;
  height: 59px;
  left: 78px;
  opacity: 1;
  position: absolute;
  top: 367px;
  width: 163px;
}

.frame-56 .charcoal-soap-bar-qx3qxm {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 159px;
}

.frame-56 .x600-usd-qx3qxm {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 133px;
}

.frame-56 .group-97-Tmwpxv {
  --z-index: 3;
  background-color: transparent;
  height: 59px;
  left: 503px;
  opacity: 1;
  position: absolute;
  top: 367px;
  width: 137px;
}

.frame-56 .oat-bar-pack-B4U3Bn {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.frame-56 .x700-usd-B4U3Bn {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 133px;
}

.frame-56 .group-93-Tmwpxv {
  --z-index: 4;
  background-color: transparent;
  height: 38px;
  left: 65px;
  opacity: 1;
  position: absolute;
  top: 439px;
  width: 186px;
}

.frame-56 .rectangle-132-nhD1Ox {
  --z-index: 0;
  background-color: #9da489;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .add-to-cart-nhD1Ox {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 133px;
}

.frame-56 .group-94-Tmwpxv {
  --z-index: 5;
  background-color: transparent;
  height: 38px;
  left: 478px;
  opacity: 1;
  position: absolute;
  top: 439px;
  width: 186px;
}

.frame-56 .rectangle-132-VaFGw0 {
  --z-index: 0;
  background-color: #9da489;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .add-to-cart-VaFGw0 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 133px;
}

.frame-56 .group-100-wIfzMN {
  --z-index: 37;
  background-color: transparent;
  height: 24px;
  left: 36px;
  opacity: 1;
  position: absolute;
  top: 799px;
  width: 1219px;
}

.frame-56 .group-91-gS2gas {
  --z-index: 0;
  background-color: transparent;
  height: 10px;
  left: -4px;
  opacity: 1;
  position: absolute;
  top: 5px;
  transform: rotate(90.24deg);
  width: 19px;
}

.frame-56 .line-12-tl2j3m {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-12-1@2x.png);
  background-size: 100% 100%;
  height: 8px;
  left: -1px;
  opacity: 1;
  position: absolute;
  top: 1px;
  transform: rotate(-90.24deg);
  width: 10px;
}

.frame-56 .line-13-tl2j3m {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-13-1@2x.png);
  background-size: 100% 100%;
  height: 11px;
  left: 8px;
  opacity: 1;
  position: absolute;
  top: -1px;
  transform: rotate(-90.24deg);
  width: 10px;
}

.frame-56 .group-93-gS2gas {
  --z-index: 1;
  background-color: transparent;
  height: 10px;
  left: 1203px;
  opacity: 1;
  position: absolute;
  top: 9px;
  transform: rotate(-94.75deg);
  width: 19px;
}

.frame-56 .line-12-zxWoh4 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-12-2@2x.png);
  background-size: 100% 100%;
  height: 8px;
  left: -1px;
  opacity: 1;
  position: absolute;
  top: 1px;
  transform: rotate(94.75deg);
  width: 9px;
}

.frame-56 .line-13-zxWoh4 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-13-2@2x.png);
  background-size: 100% 100%;
  height: 11px;
  left: 8px;
  opacity: 1;
  position: absolute;
  top: -0px;
  transform: rotate(94.75deg);
  width: 11px;
}

.frame-56 .group-94-wIfzMN {
  --z-index: 38;
  background-color: transparent;
  height: 38px;
  left: 250px;
  opacity: 1;
  position: absolute;
  top: 2001px;
  width: 186px;
}

.frame-56 .rectangle-132-F0oVoz {
  --z-index: 0;
  background-color: #9da489;
  border-radius: 5px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 184px;
}

.frame-56 .choose-options-F0oVoz {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 148px;
}

.frame-56 .group-97-wIfzMN {
  --z-index: 39;
  background-color: transparent;
  height: 59px;
  left: 275px;
  opacity: 1;
  position: absolute;
  top: 1929px;
  width: 137px;
}

.frame-56 .sample-bar-pack-Mx8CJx {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 133px;
}

.frame-56 .x1000-usd-Mx8CJx {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 133px;
}

.frame-56 .group-102-wIfzMN {
  --z-index: 40;
  background-color: transparent;
  height: 32px;
  left: 370px;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 198px;
}

.frame-56 .natrual-xKkhe6 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 154px;
}

.frame-56 .text-4-xKkhe6 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 40px;
}

.frame-56 .group-103-wIfzMN {
  --z-index: 41;
  background-color: transparent;
  height: 32px;
  left: 608px;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 232px;
}

.frame-56 .handmade-WbAVIg {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 188px;
}

.frame-56 .text-5-WbAVIg {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 40px;
}

.frame-56 .image-6-wIfzMN {
  --z-index: 42;
  background-color: #f1eed6;
  height: 1288px;
  left: 164px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1985px;
  transform: rotate(-90deg);
  width: 962px;
}

.frame-56 .image-7-wIfzMN {
  --z-index: 43;
  background-color: transparent;
  background-image: url(../img/image-7.gif);
  background-size: 100% 100%;
  height: 750px;
  left: 2px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2323px;
  width: 1285px;
}

.frame-56 .clean-good-for-the-environment-wIfzMN {
  --z-index: 44;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 401px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 2171px;
  width: 488px;
}

.frame-56 .we-want-you-to-feel-wIfzMN {
  --z-index: 45;
  background-color: transparent;
  color: #000000;
  font-family: 'Helvetica-Regular', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 471px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 2224px;
  width: 347px;
}

.frame-56 .group-105-wIfzMN {
  --z-index: 46;
  background-color: transparent;
  height: 33px;
  left: 994px;
  opacity: 1;
  position: absolute;
  top: 3621px;
  width: 32px;
}

.frame-56 .ig-p3LRbx {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/ig-1@2x.png);
  background-size: 100% 100%;
  height: 33px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 32px;
}

.frame-56 .ellipse-46-p3LRbx {
  --z-index: 1;
  background-color: transparent;
  border: 3px solid;
  border-color: #000000;
  border-radius: 5.84px/6px;
  height: 12px;
  left: 10px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 12px;
}

.frame-56 .ellipse-47-p3LRbx {
  --z-index: 2;
  background-color: #050505;
  border-radius: 2.74px/2.81px;
  height: 6px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 5px;
  width: 5px;
}

.frame-56 .ellipse-45-0unqEg {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/ellipse-45@2x.png);
  background-size: 100% 100%;
  height: 20px;
  left: 292px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  width: 20px;
}

.frame-56 .home-aid-remedies-0unqEg {
  --z-index: 9;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 312px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 129px;
  width: 118px;
}
/* screen - frame-7 */

.frame-7 {
  background-color: #ffd6ec;
  border: 1px none;
  height: 1168px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 2000px;
}

.frame-7 .rectangle-84-ojBfAf {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-84-9@2x.png);
  background-size: 100% 100%;
  height: 355px;
  left: 1884px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 256px;
}

.frame-7 .rectangle-86-xQEjKT {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-86-5.svg);
  background-size: 100% 100%;
  height: 92px;
  left: 17px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 1002px;
}

.frame-7 .rectangle-87-xQEjKT {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 83px;
  left: -4858px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4984px;
  width: 197px;
}

.frame-7 .line-9-xQEjKT {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/line-9-5.svg);
  background-size: 100% 100%;
  height: 92px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 16px;
}

.frame-7 .line-10-xQEjKT {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/line-10-5.svg);
  background-size: 100% 100%;
  height: 92px;
  left: 1018px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 16px;
}

.frame-7 .rectangle-94-xQEjKT {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 93px;
  left: -5258px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4993px;
  width: 239px;
}

.frame-7 .rectangle-95-xQEjKT {
  --z-index: 8;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 93px;
  left: -4495px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4993px;
  width: 239px;
}

.frame-7 .rectangle-115-ojBfAf {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/rectangle-115-2@2x.png);
  background-size: 100% 100%;
  height: 127px;
  left: -5248px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4438px;
  width: 55px;
}

.frame-7 .rectangle-116-ojBfAf {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/rectangle-116-5.svg);
  background-size: 100% 100%;
  height: 135px;
  left: 317px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 672px;
  width: 63px;
}

.frame-7 .rectangle-96-ojBfAf {
  --z-index: 9;
  background-color: transparent;
  background-image: url(../img/rectangle-96-2@2x.png);
  background-size: 100% 100%;
  height: 127px;
  left: 140px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 702px;
  width: 185px;
}

.frame-7 .rectangle-105-ojBfAf {
  --z-index: 10;
  background-color: transparent;
  background-image: url(../img/rectangle-105-2.svg);
  background-size: 100% 100%;
  height: 278px;
  left: 140px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 829px;
  width: 56px;
}

.frame-7 .line-11-ojBfAf {
  --z-index: 22;
  background-color: transparent;
  background-image: url(../img/line-11-5.svg);
  background-size: 100% 100%;
  height: 573px;
  left: 2018px;
  opacity: 1;
  position: absolute;
  top: 534px;
  width: 30px;
}

.frame-7 .headset-svgrepo-com-1-ojBfAf {
  --z-index: 23;
  background-color: transparent;
  background-image: url(../img/headset-svgrepo-com-1-6.svg);
  background-size: 100% 100%;
  height: 333px;
  left: 1891px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 531px;
  width: 249px;
}

.frame-7 .group-78-ojBfAf {
  --z-index: 29;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 26px;
  left: -5230px;
  opacity: 1;
  position: absolute;
  top: -4385px;
  width: 24px;
}

.frame-7 .star-1-ojBfAf {
  --z-index: 31;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 13px;
  left: -5223px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4413px;
  width: 13px;
}

.frame-7 .star-3-ojBfAf {
  --z-index: 32;
  background-color: transparent;
  background-image: url(../img/star-3-5.svg);
  background-size: 100% 100%;
  height: 15px;
  left: 336px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 727px;
  width: 15px;
}

.frame-7 .star-2-ojBfAf {
  --z-index: 36;
  background-color: transparent;
  background-image: url(../img/star-2-5.svg);
  background-size: 100% 100%;
  height: 6px;
  left: 334px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 759px;
  width: 6px;
}

.frame-7 .vector-HsqYTl {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 51px;
  left: -5155px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -5917px;
  width: 54px;
}

.frame-7 .heart-fill-svgrepo-com-1-HsqYTl {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 8px;
  left: -5112px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -5908px;
  width: 8px;
}

.frame-7 .star-5-HsqYTl {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 9px;
  left: -5148px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -5909px;
  width: 9px;
}

.frame-7 .group-80-ojBfAf {
  --z-index: 43;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: -5231px;
  opacity: 1;
  position: absolute;
  top: -4414px;
  width: 29px;
}

.frame-7 .heart-fill-svgrepo-com-2-ojBfAf {
  --z-index: 44;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 5px;
  left: -5233px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4407px;
  width: 4px;
}

.frame-7 .heart-fill-svgrepo-com-9-ojBfAf {
  --z-index: 45;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 4px;
  left: -5232px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4402px;
  width: 3px;
}

.frame-7 .heart-fill-svgrepo-com-12-ojBfAf {
  --z-index: 46;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 3px;
  left: -5231px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4398px;
  width: 3px;
}

.frame-7 .heart-fill-svgrepo-com-10-ojBfAf {
  --z-index: 47;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 2px;
  left: -5229px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4394px;
  width: 2px;
}

.frame-7 .heart-fill-svgrepo-com-11-ojBfAf {
  --z-index: 48;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: -5225px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4392px;
  width: 1px;
}

.frame-7 .vector-qzONxY {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-11.svg);
  background-size: 100% 100%;
  height: 7px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 7px;
}

.frame-7 .vector-VVQJ86 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-27.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(-90deg);
  width: 7px;
}

.frame-7 .vector-Jj3sqd {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-28.svg);
  background-size: 100% 100%;
  height: 7px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 7px;
}

.frame-7 .vector-fH92Do {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/vector-29.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: rotate(90deg);
  width: 7px;
}

.frame-7 .heart-fill-svgrepo-com-2-00Gq4V {
  --z-index: 53;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: -5221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4366px;
  width: 7px;
}

.frame-7 .heart-fill-svgrepo-com-5-ojBfAf {
  --z-index: 54;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: -5221px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4375px;
  width: 7px;
}

.frame-7 .heart-fill-svgrepo-com-3-ojBfAf {
  --z-index: 55;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: -5213px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4368px;
  width: 7px;
}

.frame-7 .heart-fill-svgrepo-com-4-ojBfAf {
  --z-index: 56;
  background-color: transparent;
  background-image: url(../img/group-78-2@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: -5223px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -4375px;
  width: 7px;
}

.frame-7 .fluffy-wing-svgrepo-com-2-ojBfAf {
  --z-index: 57;
  background-color: transparent;
  background-image: url(../img/fluffy-wing-svgrepo-com-2-5.svg);
  background-size: 100% 100%;
  height: 57px;
  left: 325px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 752px;
  width: 56px;
}

.frame-7 .star-4-ojBfAf {
  --z-index: 58;
  background-color: transparent;
  background-image: url(../img/star-4-5.svg);
  background-size: 100% 100%;
  height: 7px;
  left: 365px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 763px;
  width: 7px;
}

.frame-7 .star-5-ojBfAf {
  --z-index: 59;
  background-color: transparent;
  background-image: url(../img/star-5-4.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 355px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 733px;
  width: 4px;
}

.frame-7 .star-6-ojBfAf {
  --z-index: 60;
  background-color: transparent;
  background-image: url(../img/star-6-2.svg);
  background-size: 100% 100%;
  height: 4px;
  left: 354px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 729px;
  width: 3px;
}

.frame-7 .star-7-ojBfAf {
  --z-index: 61;
  background-color: transparent;
  background-image: url(../img/star-7-5.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 353px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 727px;
  width: 3px;
}

.frame-7 .star-8-ojBfAf {
  --z-index: 62;
  background-color: transparent;
  background-image: url(../img/star-8-5.svg);
  background-size: 100% 100%;
  height: 3px;
  left: 350px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 724px;
  width: 2px;
}

.frame-7 .star-9-ojBfAf {
  --z-index: 63;
  background-color: transparent;
  background-image: url(../img/star-9-5.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 348px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 723px;
  width: 2px;
}

.frame-7 .rectangle-121-b4lbPV {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-121-5.svg);
  background-size: 100% 100%;
  height: 15px;
  left: 99px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 185px;
  width: 83px;
}

.frame-7 .polygon-4-b4lbPV {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/polygon-4-5.svg);
  background-size: 100% 100%;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 46px;
  width: 67px;
}

.frame-7 .polygon-5-b4lbPV {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/polygon-5-5.svg);
  background-size: 100% 100%;
  height: 55px;
  left: 184px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 47px;
  width: 65px;
}

.frame-7 .group-81-b4lbPV {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/group-81-11@2x.png);
  background-size: 100% 100%;
  height: 169px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 56px;
  width: 249px;
}

.frame-7 .rectangle-123-b4lbPV {
  --z-index: 5;
  background-color: transparent;
  background-image: url(../img/rectangle-123-5.svg);
  background-size: 100% 100%;
  height: 80px;
  left: 49px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 63px;
  width: 157px;
}

.frame-7 .icon-plus-b4lbPV {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/group-81-10@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 81px;
  opacity: 1;
  position: absolute;
  top: 100px;
  width: 37px;
}

.frame-7 .polygon-6-ojBfAf {
  --z-index: 65;
  background-color: transparent;
  background-image: url(../img/polygon-6-5.svg);
  background-size: 100% 100%;
  height: 80px;
  left: 1930px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 515px;
  width: 69px;
}

.frame-7 .polygon-7-ojBfAf {
  --z-index: 66;
  background-color: transparent;
  background-image: url(../img/polygon-7-5.svg);
  background-size: 100% 100%;
  height: 80px;
  left: 2075px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 517px;
  width: 65px;
}

.frame-7 .white-part-of-imac-nCKxDd {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/white-part-of-imac-3.svg);
  background-size: 100% 100%;
  height: 689px;
  left: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 32px;
  width: 1565px;
}

.frame-7 .group-106-nCKxDd {
  --z-index: 8;
  background-color: transparent;
  height: 371px;
  left: 457px;
  opacity: 1;
  position: absolute;
  top: 191px;
  width: 711px;
}

.frame-7 .white-part-of-imac-0aJDqX {
  --z-index: 0;
  background: linear-gradient(180deg, rgb(252.87500202655792, 254.49000656604767, 255) 0%, rgb(255, 255, 255) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: 371px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 699px;
}

.frame-7 .group-57-0aJDqX {
  --z-index: 1;
  background-color: transparent;
  cursor: pointer;
  height: 155px;
  left: 332px;
  opacity: 1;
  position: absolute;
  top: 44px;
  transform: rotate(90deg);
  width: 128px;
}

.frame-7 .rectangle-36-DQ8rrG {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-36-12@2x.png);
  background-size: 100% 100%;
  height: 128px;
  left: -14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  transform: rotate(-90deg);
  width: 155px;
}

.frame-7 .white-part-of-imac-LnRAYn {
  --z-index: 2;
  background-color: #ffffff;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0px 1px 5px #00000040;
  height: 37px;
  left: 93px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 606px;
}

.frame-7 .white-part-of-imac-QbB83a {
  --z-index: 3;
  background-color: #ffbeec;
  border-radius: 10px 0px 0px 10px;
  height: 371px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 101px;
}

.frame-7 .home-aid-remedies-0aJDqX {
  --z-index: 4;
  background-color: transparent;
  color: #565656;
  font-family: 'Outfit', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 153px;
  width: 95px;
}

.frame-7 .group-50-0aJDqX {
  --z-index: 5;
  background-color: transparent;
  height: 16px;
  left: 21px;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 16px;
}

.frame-7 .ellipse-9-2hpO5e {
  --z-index: 0;
  background-color: #ff3939;
  border-radius: 8px;
  cursor: pointer;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 16px;
}

.frame-7 .group-48-2hpO5e {
  --z-index: 1;
  background-color: transparent;
  height: 8px;
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  width: 7px;
}

.frame-7 .line-5-EuNfpu {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-5-11.svg);
  background-size: 100% 100%;
  height: 8px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 8px;
}

.frame-7 .line-6-EuNfpu {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-6@2x.svg);
  background-size: 100% 100%;
  height: 8px;
  left: -0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 8px;
}

.frame-7 .websites-i-have-designed-0aJDqX {
  --z-index: 6;
  background-color: transparent;
  color: #000000;
  font-family: 'Outfit', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 296px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 9px;
  width: 199px;
}

.frame-7 .e-commerce-0aJDqX {
  --z-index: 7;
  background-color: transparent;
  color: #943468;
  font-family: 'Outfit', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 91px;
}

.frame-7 .blogs-0aJDqX {
  --z-index: 8;
  background-color: transparent;
  color: #943468;
  font-family: 'Outfit', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 241px;
  width: 77px;
}

.frame-7 .group-56-0aJDqX {
  --z-index: 9;
  background-color: transparent;
  cursor: pointer;
  height: 155px;
  left: 154px;
  opacity: 1;
  position: absolute;
  top: 44px;
  transform: rotate(90deg);
  width: 128px;
}

.frame-7 .rectangle-36-aMhVBx {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-36-6@2x.png);
  background-size: 100% 100%;
  height: 128px;
  left: -14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  transform: rotate(-90deg);
  width: 155px;
}

.frame-7 .group-53-0aJDqX {
  --z-index: 10;
  background-color: transparent;
  height: 155px;
  left: 508px;
  opacity: 1;
  position: absolute;
  top: 44px;
  transform: rotate(90deg);
  width: 128px;
}

.frame-7 .rectangle-36-zJS74G {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-36-8@2x.png);
  background-size: 100% 100%;
  height: 128px;
  left: -14px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 14px;
  transform: rotate(-90deg);
  width: 155px;
}

.frame-7 .saki-ace-0aJDqX {
  --z-index: 11;
  background-color: transparent;
  color: #565656;
  font-family: 'Outfit', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 122px;
  width: 91px;
}

.frame-7 .vibes-wellness-0aJDqX {
  --z-index: 12;
  background-color: transparent;
  color: #565656;
  font-family: 'Outfit', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 277px;
  width: 91px;
}

.frame-7 .apple_logo_white-1-L0cjLb {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/apple-logo-white-1-1.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 19px;
  left: 46px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 36px;
  width: 15px;
}
